
        body {
            font-family: 'Segoe UI', sans-serif;
        }

        .sidebar {
            min-height: 100vh;
            background-color: #00416a ;
            color: white;
            padding: 20px;
        }

        .sidebar .nav-link {
            color: white;
            margin-bottom: 15px;
            display: block;
        }

        .sidebar .nav-link:hover {
            background-color: #0b5ed7;
            border-radius: 5px;
        }

        .topbar {
            padding: 10px 30px;
            background-color: #00416a ;
            border-bottom: 1px solid #dee2e6;
			color:white;
        }

        .card-title {
            font-size: 1rem;
        }

        .card-text {
            font-size: 2rem;
        }

       
    