
<div  th:fragment="userDashboardHeader">
<!-- Sidebar -->
	<div class="sidebar">	
	    <h3>User Panel</h3>
	    
	    <a th:href="@{/user/dashboard}">Dashboard</a> <br>
	    <a th:href="@{/products}">Browse Products</a><br>
	    <a th:href="@{/cart}">View Cart</a><br>
	    <a th:href="@{/orders}">My Orders</a> <br>
	    <a th:href="@{/user/profile}">Profile</a> <br>
	    <a th:href="@{/contact}">Contact Support</a> <br>
	    
		
	</div>

		 <div class="flex-grow-1">
		        <!-- Topbar -->
		        <div class="topbar d-flex justify-content-between align-items-center">
					<h4>Welcome, <span th:text="${username}">User</span>!</h4>
		
		            <div>
		                <span class="me-3" th:text="${adminEmail}">admin@example.com</span>
		                <a href="/logout" class="btn btn-outline-danger btn-sm">Logout</a>
		            </div>
		</div>
		
		</div>
</div>