<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{adminLayout :: adminLayout(~{::title}, ~{::section})}">
<head>
    <title>Edit User</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>

	<section>
		<form th:action="@{/update-inventory}" th:object="${inventory}" method="post">
			<input type="hidden" th:field="*{id}" />
			
			<div class="mb-3">
		    <label for="name">Item Name</label>
		    <input type="text" th:field="*{name}" class="form-control" placeholder="Enter item name" required>
			</div>
			
			<div class="mb-3">
		    <label for="price">Price ($)</label>
		    <input type="number" th:field="*{price}" step="0.01" class="form-control" placeholder="Enter price" required>
			</div>
			
			<div class="mb-3">
		    <label for="quantity">Quantity</label>
		    <input type="number" th:field="*{quantity}" class="form-control" placeholder="Enter quantity" required>
			</div>	
			
		    <button class="btn btn-success" type="submit">Update</button>
		</form>
	</section>
		
</body>
</html>