.extra-icon-box .title{
    line-height:1.2;
    font-size:20px
}
.contact-sidebar .logo-contact{
    margin-bottom:20px
}
.site-footer.style-1 .social-list.style-1{
    margin-top:20px
}
.dz-bnr-inr.style-1 .h1,.dz-bnr-inr.style-1 h1{
    font-size:120px
}
.section-testimonials .testimonial-video-wrapper{
    padding:15px;
    background-color:rgba(0,0,0,.1);
    color:#000;
    margin-bottom:15px;
    position:relative;
    cursor:pointer;
    border-radius:10px
}
.section-testimonials .testimonial-video-wrapper .testimonial-video-play-button-overlay{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    color:red;
    background:rgba(0,0,0,.3)
}
.section-kites-packages .kites-packages{
    text-align:center
}
.scroltop{
    right:0;
    left:15px
}
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:15px;
    right:15px;
    background-color:#25d366;
    color:#fff;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow:2px 2px 3px #999;
    z-index:100
}
.my-float{
    margin-top:16px
}
.mandatory{
    color:red
}