/************************************* newsletter-modal css start *************************************/
/*====================================
    newsletter-modal css
====================================*/
@media (min-width: 768px) {
    .newsletter-modal .modal-dialog {
        max-width: 550px;
    }
}

/* newsletter-modal newsletter-info css */
@media (min-width: 576px) {
    .newsletter-modal .newsletter-info .newsletter-image {
        width: 224px;
    }
    .newsletter-modal .newsletter-info .newsletter-content {
        width: calc(100% - 224px);
    }
}
/************************************* newsletter-modal css end *************************************/

/************************************* category-slider css start *************************************/
/*====================================
    category-slider swiper css
====================================*/
.category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}
@media (min-width: 576px) {
    .category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 50%;
    }
}
@media (min-width: 768px) {
    .category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 33.33%;
    }
}
@media (min-width: 992px) {
    .category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 25%;
    }
}
@media (min-width: 1200px) {
    .category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 20%;
    }
}
@media (min-width: 1400px) {
    .category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 16.66%;
    }
}

/*====================================
    category cat-content css
====================================*/
.category-slider .cat-slider .cat-content a {
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
.category-slider .cat-slider .cat-content:hover a {
    background-color: var(--dominant-font-color);
}
.category-slider .cat-slider .cat-content a .cat-block {
    -webkit-transition: opacity 0.5s ease-in-out,visibility 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out,visibility 0.5s ease-in-out;
}
.category-slider .cat-slider .cat-content:hover a .cat-block {
    opacity: 0;
    visibility: hidden;
}
.category-slider .cat-slider .cat-content a .cat-count {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    -webkit-transition: opacity 0.5s ease-in-out,visibility 0.5s ease-in-out,transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out,visibility 0.5s ease-in-out,transform 0.5s ease-in-out;
}
.category-slider .cat-slider .cat-content:hover a .cat-count {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/*====================================
    category arrow css
====================================*/
.cat-wrap .swiper-buttons button.swiper-prev {
    transform: translate(-100%, -50%);
}
.cat-wrap .swiper-buttons button.swiper-next {
    transform: translate(100%, -50%);
}
/************************************* category-slider css end *************************************/

/************************************* home-slider css start *************************************/
/*====================================
    home-slider swiper css
====================================*/
.slider-content .home-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}

/* slider-text-info css */
.slider-content .home-slider .slider-text-info h2 {
    line-height: 1.2;
}
@media (min-width: 1600px) {
    .slider-content .home-slider .slider-text-info {
        padding-left: 50px;
    }
    .slider-content .home-slider .slider-text-info span {
        margin-bottom: 34px;
    }
    .slider-content .home-slider .slider-text-info h2 {
        font-size: 72px;
    }
    .slider-content .home-slider .slider-text-info a {
        margin-top: 41px;
    }
}

/* slider-text-info animation css */
.slider-content .home-slider.swiper .swiper-slide .slider-text-info span,
.slider-content .home-slider.swiper .swiper-slide .slider-text-info h2,
.slider-content .home-slider.swiper .swiper-slide .slider-text-info a {
    opacity: 0;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-text-info span,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-text-info h2,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-text-info a {
    opacity: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-text-info span {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-text-info h2 {
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
    -webkit-animation-duration: 1.0s;
    animation-duration: 1.0s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-text-info a {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

/*====================================
    home-slider swiper css
====================================*/
.slider-content .small-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 33.33%;
}

/* small-slider-info css */
@media (min-width: 1600px) {
    .slider-content .small-slider-info {
        padding-right: 50px;
    }
}

/* small-slider-info image css */
.slider-content .small-slider-info .slide-img>* {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.slider-content .small-slider-info .slide-img>*::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--dominant-font-color);
    border-radius: 100%;
}
.slider-content .small-slider-info .slide-img>*::after {
    content: "\ea6c";
    font-family: remixicon !important;
    color: var(--extra-font-color);
    font-size: 24px;
    position: absolute;

}
.slider-content .small-slider-info .slide-img>*::before,
.slider-content .small-slider-info .slide-img>*::after {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s ease-in-out,visibility 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out,visibility 0.5s ease-in-out;
}
.slider-content .small-slider-info .small-slider.swiper .swiper-slide.swiper-slide-thumb-active .slide-img>*::before,
.slider-content .small-slider-info .small-slider.swiper .swiper-slide.swiper-slide-thumb-active .slide-img>*::after {
    visibility: visible;
}
.slider-content .small-slider-info .small-slider.swiper .swiper-slide.swiper-slide-thumb-active .slide-img>*::before {
    opacity: 0.8;
}
.slider-content .small-slider-info .small-slider.swiper .swiper-slide.swiper-slide-thumb-active .slide-img>*::after {
    opacity: 1;
}

/* slider-navigation css */
.slider-content .small-slider-info .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
    left: 0;
    transform: translate(-100%, -50%);
}
.slider-content .small-slider-info .swiper-buttons .swiper-buttons-wrap button.swiper-next {
    right: 0;
    transform: translate(100%, -50%);
}

/* slider-dot css */
.slider-content .small-slider-info .swiper-dots .swiper-pagination {
    width: unset;
    position: unset;
    margin: -5px 0px 0px -5px;
}
.slider-content .small-slider-info .swiper-dots .swiper-pagination span.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: transparent;
    margin: 5px 0px 0px 5px;
    opacity: 1;
    border: 1px solid var(--dominant-font-color);
}
.slider-content .small-slider-info .swiper-dots .swiper-pagination span.swiper-pagination-bullet:hover,
.slider-content .small-slider-info .swiper-dots .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--dominant-font-color);
}
/************************************* home-slider css end *************************************/

/************************************* service css start *************************************/
/*====================================
    service-content css
====================================*/
.service-area .service-content {
    position: relative;
}
.service-area .service-content::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 2px;
    background-color: var(--dominant-font-color);
    transform: scaleX(0);
    z-index: 1;
    -webkit-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
.service-area .service-content:hover::after {
    transform: scaleX(-1);
}

/*====================================
    service-content text css
====================================*/
.service-area .service-content .service-text span::before {
    content: "(";
}
.service-area .service-content .service-text span::after {
    content: ")";
}
/************************************* service css end *************************************/

/************************************* collection-product css start *************************************/
/*====================================
    collection-product css
====================================*/
@media (min-width: 1200px) {
    .collection-product {
        overflow-x: hidden;
    }
    .collection-product .collection-wrap .section-capture {
        margin-bottom: 0px;
    }
    .collection-product .collection-wrap .collection-product-slider {
        margin-right: calc(-33.33% - 10px);
    }
}
/************************************* collection-product css end *************************************/

/************************************* banner css start *************************************/
/*====================================
    banner-content css
====================================*/
.banner-area .banner-block .banner-content span {
    -webkit-transition: color 0.5s ease-in-out,background-color 0.5s ease-in-out,border-color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out,background-color 0.5s ease-in-out,border-color 0.5s ease-in-out;
}
.banner-area .banner-block .banner-content span:hover {
    color: var(--extra-font-color);
    background-color: var(--dominant-font-color);
    border-color: var(--dominant-font-color);
}
/************************************* banner css end *************************************/

/************************************* collection-product-list css start *************************************/
/*====================================
    Collection-product swiper css
====================================*/
.collection-product-list .collection-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}
@media (min-width: 992px) {
    .collection-product-list .collection-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .collection-product-list .collection-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 100%;
    }
}

/*====================================
    single-product-list css
====================================*/
.single-product-list {
    background-color: var(--extra-bgcolor);
    border: 1px solid rgba(var(--border-color),var(--border-opacity));
    border-radius: var(--border-radius);
    overflow: hidden;
}

/*====================================
    product-image css
====================================*/
.single-product-list .single-product-wrap .product-image {
    position: relative;
    overflow: hidden;
}
.single-product-list .single-product-wrap .product-image a.pro-img {
    display: block;
    position: relative;
    overflow: hidden;
}
.single-product-list .single-product-wrap .product-image a.pro-img img.img2 {
    display: none;
}
@media (min-width: 1200px) {
    .single-product-list .single-product-wrap .product-image a.pro-img::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--extra-font-color);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: background-color 0.5s ease-in-out,opacity 0.5s ease-in-out,visibility 0.5s ease-in-out;
        transition: background-color 0.5s ease-in-out,opacity 0.5s ease-in-out,visibility 0.5s ease-in-out;
    }
    .single-product-list:hover .single-product-wrap .product-image a.pro-img::after {
        opacity: 0.5;
        visibility: visible;
    }
    .single-product-list .single-product-wrap .product-image a.pro-img img {
        -webkit-transition: opacity 0.5s ease-in-out,visibility 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out,visibility 0.5s ease-in-out;
    }
    .single-product-list:hover .single-product-wrap .product-image a.pro-img img.img1,
    .single-product-list .single-product-wrap .product-image a.pro-img img.img2 {
        opacity: 0;
        visibility: hidden;
    }
    .single-product-list .single-product-wrap .product-image a.pro-img img.img2 {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .single-product-list:hover .single-product-wrap .product-image a.pro-img img.img2 {
        opacity: 1;
        visibility: visible;
    }
}

/*====================================
    product-action css
====================================*/
.single-product-list .single-product-wrap .product-action {
    display: flex;
    align-items: center;
}
.single-product-list .single-product-wrap .product-action a {
    position: relative;
    margin-right: 10px;
}
.single-product-list .single-product-wrap .product-action a:last-child {
    margin: 0px;
}
.single-product-list .single-product-wrap .product-action a span.product-icon {
    color: var(--body-font-color);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}
.single-product-list .single-product-wrap .product-action a:hover span.product-icon {
    color: var(--dominant-font-color);
}

/*====================================
    product-content css
====================================*/
.single-product-list .single-product-wrap .product-content {
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(var(--border-color),var(--border-opacity));
}
.single-product-list .single-product-wrap .product-content .pro-content {
    width: 100%;
    padding: 25px 15px 30px;
}
.single-product-list .single-product-wrap .product-content .price-box {
    margin-top: 12px;
}
.single-product-list .single-product-wrap .product-content .product-action {
    margin-top: 18px;
}
@media (min-width: 576px) {
    .single-product-list .single-product-wrap .product-content .pro-content {
        padding: 25px 30px 30px;
    }
}
/************************************* collection-product-list css end *************************************/

/************************************* video-testimonial css start *************************************/
/*====================================
    testi-video css
====================================*/
@media (min-width: 992px) {
    .video-testimonial .testi-video img {
        object-fit: cover;
        object-position: center center;
    }
}

/*====================================
    testimonial slider-swiper css
====================================*/
.video-testimonial .testi-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}

/*====================================
    testimonial-content css
====================================*/
.video-testimonial .testi-slider .testi-content .testi-info .testi-profile span::before {
    content: "(";
}
.video-testimonial .testi-slider .testi-content .testi-info .testi-profile span::after {
    content: ")";
}
@media (min-width: 1200px) {
    .video-testimonial .testi-slider .testi-content p {
        line-height: 35px;
    }
}
/************************************* video-testimonial css end *************************************/