/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/*
    Created on : 24-Mar-2022, 3:44:11 pm
    Author     : anoop
*/

.extra-icon-box .title{
    line-height: 1.2;
    font-size: 20px;
}

.contact-sidebar .logo-contact {
    margin-bottom: 20px;
}

.site-footer.style-1 .social-list.style-1 {
    margin-top: 20px;
}

.dz-bnr-inr.style-1 h1, .dz-bnr-inr.style-1 .h1 {
    font-size: 120px;
}

.section-testimonials .testimonial-video-wrapper {
    padding: 15px;
    background-color: rgba(0,0,0, 0.1);
    color: #000;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.section-testimonials .testimonial-video-wrapper .testimonial-thumbnail-wrapper{

}

.section-testimonials .testimonial-video-wrapper .testimonial-video-play-button-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color:red;
    background: rgba(0,0,0,0.3);
}


.section-kites-packages .kites-packages{
    text-align: center;
}

.section-kites-packages .kites-packages thead{
    background: var(--primary);
}

.section-kites-packages .kites-packages thead .package-label{
    color: var(--bs-light);
    margin-bottom: 0px;
}

.section-kites-packages .kites-packages thead .package-price-range{
    color: var(--bs-light);
    margin-bottom: 0px;
}

.section-kites-packages .kites-packages thead .package-price-range .price{
    color: var(--bs-dark);
    font-size: 1.40rem;
}

.section-kites-packages .kites-packages tr th {
    font-size: 1.3rem;
    vertical-align: middle;
}

.section-kites-packages .kites-packages tr td {
    font-size: 1.25rem;
    vertical-align: middle;
}

.section-kites-packages .kites-packages tbody > tr:hover {
    --bs-table-accent-bg: var(--rgba-primary-9);
    color: var(--bs-light);
}

@media (max-width: 767.98px) {
    .section-kites-packages .kites-packages tr th {
        font-size: 1.1rem;
    }

    .section-kites-packages .kites-packages thead .package-price-range .price{
        font-size: 1.2rem;
    }

    .section-kites-packages .kites-packages tr th {
        font-size: 1rem;
        vertical-align: middle;
    }

    .section-kites-packages .kites-packages tr td {
        font-size: 1rem;
        vertical-align: middle;
    }
}

.kites-package-card{
    margin-bottom: 15px;
}

.kites-package-card .card-body{
    padding:15px;
}

.package-material-title{
    font-size: 1.1rem;
    background-color: var(--rgba-primary-9);
    color: var(--bs-light);
    padding:5px 10px;
    border-bottom:  1px solid #eee;
    text-transform: uppercase;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.kites-package-card .card-body table{
    vertical-align: middle;
    table-layout: fixed;
    word-wrap: break-word;
}

.kites-package-card .card-body table tr td, .kites-package-card .card-body table tr th{
    padding:5px;
}

.kites-package-card .card-body table tr th{
    width: 25%;
}

.badge-kites-package{
    background-color: var(--rgba-primary-9);
    color:var(--bs-light);
    text-transform: uppercase;
}

.remove-testimonial-quote::after{
    content: "";
}

.package-material-swiper .swiper-pagination-bullet-active.swiper-pagination-bullet-active-main{
    background: var(--rgba-primary-9);
}


.scroltop {
    right:0px;
    left: 15px;
}


.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:15px;
    right:15px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
    margin-top:16px;
}


/* Validation */
.form-control.error{
    color:#500000;
    border-color: #f44336;
}
input.error{
    color:#500000;
    border-color: #f44336;
}
span.error{
    color:#FFF;
    font-size: 12px;
    padding: 5px 5px;
    margin: 0 5px 0 0;
    position: relative;
    top: 0px;
    background: red;
}

.mandatory{
    color:red;
}